button {
  border: none;
}

.custom-btn {
  width: 20vw;
  max-width: 150px;
  min-width: 120px;
  height: 3em;
  background-color: #e8e8e810;
  color: #e8e8e8;
  border: 1.2px solid #e8e8e870;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.custom-btn:hover,.custom-btn:focus {
  color: #ffffff;
  font-weight: bold;
  background: #1ABC9C;
  border: 1px solid #1ABC9C;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #1ABC9C, 0 0 20px #1ABC9C, 0 0 50px #1ABC9C,
    0 0 100px #1ABC9C;
}

.custom-btn2 {
  background-color: #e8e8e810;
  color: #fff;
  width: 20vw;
  max-width: 150px;
  min-width: 120px;
  height: 3em;
  border: 1.2px solid #e8e8e870;
  border-radius: 15px;
  text-align: right;
  transition: all 0.6s ease;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn2:hover {
  background-color: #e8e8e870;
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}


.custom-btn2 p {
  margin: 0 1.5em
}
.top-btn {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor a pointer */
  position: fixed; /* Fijo en la pantalla */
  bottom: 20px; /* Espacio desde la parte inferior */
  right: 20px; /* Espacio desde la derecha */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  border-radius: 50%; /* Forma redonda */
  display: flex; /* Usar flexbox */
  align-items: center; /* Centrar contenido verticalmente */
  justify-content: center; /* Centrar contenido horizontalmente */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.top-btn:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro al pasar el cursor */
}

.top-btn svg {
  width: 24px; /* Ancho del ícono */
  height: 24px; /* Alto del ícono */
  fill: white; /* Color del ícono */
}
