.custom-nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.custom-nav li {
    border-radius: 11px;
    transition: all 0.5s ease;
}

.custom-nav li:hover,
.custom-nav li.active { 
    color: #ffffff;
    font-weight: bold;
    background: #1ABC9C;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #1ABC9C, 0 0 20px #1ABC9C, 0 0 50px #1ABC9C,
        0 0 100px #1ABC9C;
}

.nav-link.active {
    font-weight: bold;
    background: #1ABC9C;
    color: #ffffff !important; 
    border-radius: 11px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #1ABC9C, 0 0 20px #1ABC9C, 0 0 50px #1ABC9C,
                0 0 100px #1ABC9C;
  }
  

.custom-search {
    transition: all 0.3s ease;
}

.custom-search:focus {
    border-color: #FF2E63;
    box-shadow: 0 0 8px rgba(255, 46, 99, 0.8);
    outline: none;
}

.custom-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FF2E63" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
}

#instant-search-results {
    position: absolute;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: aliceblue;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

#instant-search-results ul li {
    padding: 0.5rem;
    border-radius: 20px;
    transition: background 0.3s, transform 0.3s;
}

#instant-search-results ul li:hover {
    background: rgba(244, 209, 255, 0.2);
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 20px;
}

form {
    position: relative;
    /* Esto permite que los elementos con position: absolute se posicionen respecto a este contenedor */
}